workflows/1sIW34HhALT1N6wp.json
{
  "active": false,
  "connections": {
    "Generate a chart": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute \"Generate a chart\" tool": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Generate Chart definition with Structured Output": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Set response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Set response": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload image to S3": {
      "main": [
        [
          {
            "node": "add response field1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add response field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload image to S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-08T04:32:04.667Z",
  "id": "1sIW34HhALT1N6wp",
  "meta": {
    "templateId": "2400",
    "templateCredsSetupCompleted": true
  },
  "name": "Draw Chart Tool",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o-mini-2024-07-18",
        "options": {}
      },
      "id": "4b7c314a-d7c5-46cb-af6f-b3ff02a182b7",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1220,
        500
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "mE4tY6rLFI7CyMqz",
          "name": "OpenrouterAI account"
        }
      }
    },
    {
      "parameters": {},
      "id": "cf4ffa49-8830-4db2-9a7d-b8931e806947",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1460,
        580
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "name": "generate_a_chart",
        "description": "Call this tool whenever you need to generate a chart.",
        "workflowId": "={{ $workflow.id }}",
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n\"type\": \"object\",\n\"properties\": {\n\t\"query\": {\n\t\t\"type\": \"string\",\n\t\t\"description\": \"a query describing the chart to generate\"\n\t\t}\n\t}\n}"
      },
      "id": "22d36226-ca37-4ccc-a2d6-826b78c2f1f3",
      "name": "Generate a chart",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        1640,
        640
      ],
      "typeVersion": 1.1,
      "disabled": true
    },
    {
      "parameters": {},
      "id": "d9ea85d7-3a56-4a95-88c8-60e5c95014e7",
      "name": "Execute \"Generate a chart\" tool",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        2080,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"model\": \"gpt-4o-2024-08-06\",\n    \"messages\": [\n        {\n            \"role\": \"system\",\n            \"content\": \"Based on the user request, generate a valid Chart.js definition. Important: - Be careful with the data scale and beginatzero that all data are visible. Example if ploted data 2 and 3 on a bar chart, the baseline should be 0. - Charts colors should be different only if there are multiple datasets. - Output valid JSON. In scales, min and max are numbers. Example: `{scales:{yAxes:[{ticks:{min:0,max:3}`\"\n        },\n        {\n            \"role\": \"user\",\n            \"content\": \"{{ $json.query.query }}\"\n        }\n    ],\n    \"response_format\": {\n  \"type\": \"json_schema\",\n  \"json_schema\": {\n    \"name\": \"chart_configuration\",\n    \"description\": \"Configuration schema for Chart.js charts\",\n    \"strict\": true,\n    \"schema\": {\n  \"type\": \"object\",\n  \"properties\": {\n    \"type\": {\n      \"type\": \"string\",\n      \"enum\": [\"bar\", \"line\", \"radar\", \"pie\", \"doughnut\", \"polarArea\", \"bubble\", \"scatter\", \"area\"]\n    },\n    \"data\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"labels\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"datasets\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"label\": {\n                \"type\": [\"string\", \"null\"]\n              },\n              \"data\": {\n                \"type\": \"array\",\n                \"items\": {\n                  \"type\": \"number\"\n                }\n              },\n              \"backgroundColor\": {\n                \"type\": [\"array\", \"null\"],\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"borderColor\": {\n                \"type\": [\"array\", \"null\"],\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"borderWidth\": {\n                \"type\": [\"number\", \"null\"]\n              }\n            },\n            \"required\": [\"data\", \"label\", \"backgroundColor\", \"borderColor\", \"borderWidth\"],\n            \"additionalProperties\": false\n          }\n        }\n      },\n      \"required\": [\"labels\", \"datasets\"],\n      \"additionalProperties\": false\n    },\n    \"options\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"scales\": {\n          \"type\": [\"object\", \"null\"],\n          \"properties\": {\n            \"yAxes\": {\n              \"type\": \"array\",\n              \"items\": {\n                \"type\": [\"object\", \"null\"],\n                \"properties\": {\n                  \"ticks\": {\n                    \"type\": [\"object\", \"null\"],\n                    \"properties\": {\n                      \"max\": {\n                        \"type\": [\"number\", \"null\"]\n                      },\n                      \"min\": {\n                        \"type\": [\"number\", \"null\"]\n                      },\n                      \"stepSize\": {\n                        \"type\": [\"number\", \"null\"]\n                      },\n                      \"beginAtZero\": {\n                        \"type\": [\"boolean\", \"null\"]\n                      }\n                    },\n                    \"required\": [\"max\", \"min\", \"stepSize\", \"beginAtZero\"],\n                    \"additionalProperties\": false\n                  },\n                  \"stacked\": {\n                    \"type\": [\"boolean\", \"null\"]\n                  }\n                },\n                \"required\": [\"ticks\", \"stacked\"],\n                \"additionalProperties\": false\n              }},\n              \"xAxes\": {\n                \"type\": [\"object\", \"null\"],\n                \"properties\": {\n                  \"stacked\": {\n                    \"type\": [\"boolean\", \"null\"]\n                  }\n                },\n                \"required\": [\"stacked\"],\n                \"additionalProperties\": false\n              }\n          },\n          \"required\": [\"yAxes\", \"xAxes\"],\n          \"additionalProperties\": false\n        },\n        \"plugins\": {\n          \"type\": [\"object\", \"null\"],\n          \"properties\": {\n            \"title\": {\n              \"type\": [\"object\", \"null\"],\n              \"properties\": {\n                \"display\": {\n                  \"type\": [\"boolean\", \"null\"]\n                },\n                \"text\": {\n                  \"type\": [\"string\", \"null\"]\n                }\n              },\n              \"required\": [\"display\", \"text\"],\n              \"additionalProperties\": false\n            },\n            \"legend\": {\n              \"type\": [\"object\", \"null\"],\n              \"properties\": {\n                \"display\": {\n                  \"type\": [\"boolean\", \"null\"]\n                },\n                \"position\": {\n                  \"type\": [\"string\", \"null\"],\n                  \"enum\": [\"top\", \"left\", \"bottom\", \"right\", null]\n                }\n              },\n              \"required\": [\"display\", \"position\"],\n              \"additionalProperties\": false\n            }\n          },\n          \"required\": [\"title\", \"legend\"],\n          \"additionalProperties\": false\n        }\n      },\n      \"required\": [\"scales\", \"plugins\"],\n      \"additionalProperties\": false\n    }\n  },\n  \"required\": [\"type\", \"data\", \"options\"],\n  \"additionalProperties\": false\n}\n}\n}\n}",
        "options": {}
      },
      "id": "68d538f7-acce-447f-9ab1-6975639e05f7",
      "name": "OpenAI - Generate Chart definition with Structured Output",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1820,
        240
      ],
      "typeVersion": 4.2,
      "credentials": {
        "openAiApi": {
          "id": "mE4tY6rLFI7CyMqz",
          "name": "OpenrouterAI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37512e1a-8376-4ba0-bdcd-34bb9329ae4b",
              "name": "response",
              "type": "string",
              "value": "=https://quickchart.io/chart?width=400&c={{ JSON.stringify($json.output) }}&format=png"
            }
          ]
        },
        "options": {}
      },
      "id": "0fd4ad08-ad85-4d0b-b75f-0e59f789cbfd",
      "name": "Set response",
      "type": "n8n-nodes-base.set",
      "position": [
        2700,
        640
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Workflow: AI Agent with charts capabilities using OpenAI Structured Output\n\n**Overview**\n- This workflow is a experiment to integrate charts into an AI Agent\n- The AI Agent has normal AI conversation and can invoke a tool to integrate a graph in the conversation.\n- It uses OpenAI Structured Output to generate a chart definition according to Quickchart specifications.\n\n\n**How it works**\n- Activate the workflow\n- Start chatting with the AI Agent.\n- When the AI Agent detects that the user needs a chat, it calls the tool\n- The tool calls the sub-workflow with a query.\n- The sub-workflow calls the HTTP Request node (calling OpenAI) to retrieve a chart definition\n- In the \"set response\" node, he chat definition is added at the end of a quickchart.io url - the URL to the chart image. It is sent back to the AI Agent.\n- The AI Agent uses this image in its response.\n- For example, you can ask the AI Agent to generate a chart about the top 5 movies at the box office\n\n\n**Notes**\n- The full Quickchart.io specifications have not been integrated, thus there are some possible glitches (e.g due to the size of the graph, radar graphs are not displayed properly)\n- This could be provided to any automation, not only AI Agents.",
        "height": 619.3187860363884,
        "width": 680.7609104727082,
        "color": 7
      },
      "id": "6785cadb-4875-47ac-9b57-29b583c53937",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Generate a Quickchart definition\n\n**HTTP Request node**\n- Send the chart query to OpenAI, with a defined JSON response format - *using HTTP Request node as it has not yet been implemented in the OpenAI nodes*\n- The JSON structure is based on ChartJS and Quickchart.io definitions, that let us create nice looking graphs.\n- The output is a JSON containing the chart definition that is passed to the next node.\n\n**Set Response node**\n- Adds the chart definition at the end of a Quickchart.io URL ([see documentation](https://quickchart.io/documentation/usage/parameters/))\n- Note that in the parameters, we specify the width to 250 in order to be properly displayed in the chart interface.",
        "height": 503,
        "width": 768.8586342909368,
        "color": 7
      },
      "id": "fd507ff6-2d16-4498-ba2b-d91b02079311",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1100,
        780
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Chat Agent\n- This is agent is mostly here to demonstrate how to use the sub workflow.\n- This is a basic agent with a tool \"generate a chart\"\n- The tool calls the sub-workflow\n- The sub-workflow responds with the Quickchart URL that is displayed in the conversation",
        "height": 485.8165429718969,
        "width": 768,
        "color": 7
      },
      "id": "7f14532a-75ee-40f8-a45b-0f037af7cb05",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1100,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Based on the user request, generate a valid Chart.js definition. Important: - Be careful with the data scale and beginatzero that all data are visible. Example if ploted data 2 and 3 on a bar chart, the baseline should be 0. - Charts colors should be different only if there are multiple datasets. - Output valid JSON with Output Parser's example. In scales, min and max are numbers. Example: `{scales:{yAxes:[{ticks:{min:0,max:3}`"
        }
      },
      "id": "7793a567-c4d4-4745-83c9-adf5397755e9",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1380,
        380
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "71bd2cb5-7b20-4d83-adba-c1fd57511155",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        2080,
        640
      ],
      "webhookId": "1281cd48-08a0-431d-9bf5-9bb60e6b7a77",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite-preview-02-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1340,
        580
      ],
      "id": "8666af8b-361d-4882-808d-e6cb6442f7b4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2n4TLSNuOIYkltQc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json?.chatInput || $json?.query }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Based on the user request, generate a valid Chart.js definition. Important: - Be careful with the data scale and beginatzero that all data are visible. Example if ploted data 2 and 3 on a bar chart, the baseline should be 0. - Charts colors should be different only if there are multiple datasets. - Output valid JSON with Output Parser's example. In scales, min and max are numbers. Example: `{scales:{yAxes:[{ticks:{min:0,max:3}`"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        2320,
        640
      ],
      "id": "42a51433-0b2b-44d2-ae1c-5457b4526645",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"chart_configuration\",\n  \"description\": \"Configuration schema for Chart.js charts\",\n  \"strict\": true,\n  \"schema\": {\n\"type\": \"object\",\n\"properties\": {\n  \"type\": {\n    \"type\": \"string\",\n    \"enum\": [\"bar\", \"line\", \"radar\", \"pie\", \"doughnut\", \"polarArea\", \"bubble\", \"scatter\", \"area\"]\n  },\n  \"data\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"labels\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\"\n        }\n      },\n      \"datasets\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"label\": {\n              \"type\": [\"string\", \"null\"]\n            },\n            \"data\": {\n              \"type\": \"array\",\n              \"items\": {\n                \"type\": \"number\"\n              }\n            },\n            \"backgroundColor\": {\n              \"type\": [\"array\", \"null\"],\n              \"items\": {\n                \"type\": \"string\"\n              }\n            },\n            \"borderColor\": {\n              \"type\": [\"array\", \"null\"],\n              \"items\": {\n                \"type\": \"string\"\n              }\n            },\n            \"borderWidth\": {\n              \"type\": [\"number\", \"null\"]\n            }\n          },\n          \"required\": [\"data\", \"label\", \"backgroundColor\", \"borderColor\", \"borderWidth\"],\n          \"additionalProperties\": false\n        }\n      }\n    },\n    \"required\": [\"labels\", \"datasets\"],\n    \"additionalProperties\": false\n  },\n  \"options\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"scales\": {\n        \"type\": [\"object\", \"null\"],\n        \"properties\": {\n          \"yAxes\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": [\"object\", \"null\"],\n              \"properties\": {\n                \"ticks\": {\n                  \"type\": [\"object\", \"null\"],\n                  \"properties\": {\n                    \"max\": {\n                      \"type\": [\"number\", \"null\"]\n                    },\n                    \"min\": {\n                      \"type\": [\"number\", \"null\"]\n                    },\n                    \"stepSize\": {\n                      \"type\": [\"number\", \"null\"]\n                    },\n                    \"beginAtZero\": {\n                      \"type\": [\"boolean\", \"null\"]\n                    }\n                  },\n                  \"required\": [\"max\", \"min\", \"stepSize\", \"beginAtZero\"],\n                  \"additionalProperties\": false\n                },\n                \"stacked\": {\n                  \"type\": [\"boolean\", \"null\"]\n                }\n              },\n              \"required\": [\"ticks\", \"stacked\"],\n              \"additionalProperties\": false\n            }},\n            \"xAxes\": {\n              \"type\": [\"object\", \"null\"],\n              \"properties\": {\n                \"stacked\": {\n                  \"type\": [\"boolean\", \"null\"]\n                }\n              },\n              \"required\": [\"stacked\"],\n              \"additionalProperties\": false\n            }\n        },\n        \"required\": [\"yAxes\", \"xAxes\"],\n        \"additionalProperties\": false\n      },\n      \"plugins\": {\n        \"type\": [\"object\", \"null\"],\n        \"properties\": {\n          \"title\": {\n            \"type\": [\"object\", \"null\"],\n            \"properties\": {\n              \"display\": {\n                \"type\": [\"boolean\", \"null\"]\n              },\n              \"text\": {\n                \"type\": [\"string\", \"null\"]\n              }\n            },\n            \"required\": [\"display\", \"text\"],\n            \"additionalProperties\": false\n          },\n          \"legend\": {\n            \"type\": [\"object\", \"null\"],\n            \"properties\": {\n              \"display\": {\n                \"type\": [\"boolean\", \"null\"]\n              },\n              \"position\": {\n                \"type\": [\"string\", \"null\"],\n                \"enum\": [\"top\", \"left\", \"bottom\", \"right\", null]\n              }\n            },\n            \"required\": [\"display\", \"position\"],\n            \"additionalProperties\": false\n          }\n        },\n        \"required\": [\"title\", \"legend\"],\n        \"additionalProperties\": false\n      }\n    },\n    \"required\": [\"scales\", \"plugins\"],\n    \"additionalProperties\": false\n  }\n},\n\"required\": [\"type\", \"data\", \"options\"],\n\"additionalProperties\": false\n}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1720,
        540
      ],
      "id": "c3fe6b7f-d296-46d7-808c-d2a8bb13aae2",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite-preview-02-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2320,
        820
      ],
      "id": "af05486f-049d-4ab6-b6a0-d5c2d9564412",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "2n4TLSNuOIYkltQc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\" : \"title of chart\",\n  \"description\" : \"Description about chart\",\n  \"url\" : \"URL to chart\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1840,
        540
      ],
      "id": "9bb2b48a-b6d2-4eeb-80aa-4e74210f8d36",
      "name": "Structured Output Parser1",
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.response }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2940,
        640
      ],
      "id": "8d52978f-7377-49e6-af90-2131fd5a0226",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"chart_configuration\",\n  \"description\": \"Configuration schema for Chart.js charts\",\n  \"strict\": true,\n  \"schema\": {\n\"type\": \"object\",\n\"properties\": {\n  \"type\": {\n    \"type\": \"string\",\n    \"enum\": [\"bar\", \"line\", \"radar\", \"pie\", \"doughnut\", \"polarArea\", \"bubble\", \"scatter\", \"area\"]\n  },\n  \"data\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"labels\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\"\n        }\n      },\n      \"datasets\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"label\": {\n              \"type\": [\"string\", \"null\"]\n            },\n            \"data\": {\n              \"type\": \"array\",\n              \"items\": {\n                \"type\": \"number\"\n              }\n            },\n            \"backgroundColor\": {\n              \"type\": [\"array\", \"null\"],\n              \"items\": {\n                \"type\": \"string\"\n              }\n            },\n            \"borderColor\": {\n              \"type\": [\"array\", \"null\"],\n              \"items\": {\n                \"type\": \"string\"\n              }\n            },\n            \"borderWidth\": {\n              \"type\": [\"number\", \"null\"]\n            }\n          },\n          \"required\": [\"data\", \"label\", \"backgroundColor\", \"borderColor\", \"borderWidth\"],\n          \"additionalProperties\": false\n        }\n      }\n    },\n    \"required\": [\"labels\", \"datasets\"],\n    \"additionalProperties\": false\n  },\n  \"options\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"scales\": {\n        \"type\": [\"object\", \"null\"],\n        \"properties\": {\n          \"yAxes\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": [\"object\", \"null\"],\n              \"properties\": {\n                \"ticks\": {\n                  \"type\": [\"object\", \"null\"],\n                  \"properties\": {\n                    \"max\": {\n                      \"type\": [\"number\", \"null\"]\n                    },\n                    \"min\": {\n                      \"type\": [\"number\", \"null\"]\n                    },\n                    \"stepSize\": {\n                      \"type\": [\"number\", \"null\"]\n                    },\n                    \"beginAtZero\": {\n                      \"type\": [\"boolean\", \"null\"]\n                    }\n                  },\n                  \"required\": [\"max\", \"min\", \"stepSize\", \"beginAtZero\"],\n                  \"additionalProperties\": false\n                },\n                \"stacked\": {\n                  \"type\": [\"boolean\", \"null\"]\n                }\n              },\n              \"required\": [\"ticks\", \"stacked\"],\n              \"additionalProperties\": false\n            }},\n            \"xAxes\": {\n              \"type\": [\"object\", \"null\"],\n              \"properties\": {\n                \"stacked\": {\n                  \"type\": [\"boolean\", \"null\"]\n                }\n              },\n              \"required\": [\"stacked\"],\n              \"additionalProperties\": false\n            }\n        },\n        \"required\": [\"yAxes\", \"xAxes\"],\n        \"additionalProperties\": false\n      },\n      \"plugins\": {\n        \"type\": [\"object\", \"null\"],\n        \"properties\": {\n          \"title\": {\n            \"type\": [\"object\", \"null\"],\n            \"properties\": {\n              \"display\": {\n                \"type\": [\"boolean\", \"null\"]\n              },\n              \"text\": {\n                \"type\": [\"string\", \"null\"]\n              }\n            },\n            \"required\": [\"display\", \"text\"],\n            \"additionalProperties\": false\n          },\n          \"legend\": {\n            \"type\": [\"object\", \"null\"],\n            \"properties\": {\n              \"display\": {\n                \"type\": [\"boolean\", \"null\"]\n              },\n              \"position\": {\n                \"type\": [\"string\", \"null\"],\n                \"enum\": [\"top\", \"left\", \"bottom\", \"right\", null]\n              }\n            },\n            \"required\": [\"display\", \"position\"],\n            \"additionalProperties\": false\n          }\n        },\n        \"required\": [\"title\", \"legend\"],\n        \"additionalProperties\": false\n      }\n    },\n    \"required\": [\"scales\", \"plugins\"],\n    \"additionalProperties\": false\n  }\n},\n\"required\": [\"type\", \"data\", \"options\"],\n\"additionalProperties\": false\n}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2540,
        820
      ],
      "id": "688275a4-537c-480f-b743-70253f0fa71f",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "n8n",
        "fileName": "=chart-{{ $execution.id }}.png",
        "additionalFields": {}
      },
      "id": "a4e1174e-0cb7-4db3-933e-e4236534602a",
      "name": "Upload image to S3",
      "type": "n8n-nodes-base.s3",
      "position": [
        3200,
        620
      ],
      "typeVersion": 1,
      "credentials": {
        "s3": {
          "id": "5xKdY0kzuetxFgzQ",
          "name": "S3 account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "response",
              "stringValue": "Fail"
            }
          ]
        },
        "options": {
          "includeBinary": false
        }
      },
      "id": "2f3f449b-1c6e-43e2-a4c7-f3344065893c",
      "name": "add response field",
      "type": "n8n-nodes-base.set",
      "position": [
        3560,
        800
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "response",
              "stringValue": "Success"
            },
            {
              "name": "file_url",
              "stringValue": "=https://pub-9ae70035a5fa43b7987f38778de704a2.r2.dev/chart-{{ $execution.id }}.png"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "560c32f0-5b52-4f9c-8c22-034a5171cfd3",
      "name": "add response field1",
      "type": "n8n-nodes-base.set",
      "position": [
        3560,
        600
      ],
      "typeVersion": 3.2
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-09T09:14:34.000Z",
  "versionId": "08991b48-763e-418f-ae7f-d519785810eb"
}