workflows/C5D1CchKTrfTmt9g.json
{
  "active": true,
  "connections": {
    "Send Receipt": {
      "main": [
        [
          {
            "node": "Form End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Accepted?": {
      "main": [
        [
          {
            "node": "Enter Date & Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Decline1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Approval?": {
      "main": [
        [
          {
            "node": "Create Appointment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Form Values": {
      "main": [
        [
          {
            "node": "Trigger Approval Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Form Trigger": {
      "main": [
        [
          {
            "node": "Enquiry Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enter Date & Time": {
      "main": [
        [
          {
            "node": "Get Form Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarise Enquiry": {
      "main": [
        [
          {
            "node": "Phê duyệt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Approval": {
      "main": [
        []
      ]
    },
    "Enquiry Classifier": {
      "main": [
        [
          {
            "node": "Terms & Conditions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Decline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Terms & Conditions": {
      "main": [
        [
          {
            "node": "Has Accepted?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Summarise Enquiry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Approval Process": {
      "main": [
        [
          {
            "node": "Send Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Enquiry Classifier",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Summarise Enquiry",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Appointment": {
      "main": [
        [
          {
            "node": "Thông báo admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phê duyệt": {
      "main": [
        [
          {
            "node": "Has Approval?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-19T15:43:43.363Z",
  "id": "C5D1CchKTrfTmt9g",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Qualifying Appointment Requests with AI & n8n Forms",
  "nodes": [
    {
      "parameters": {
        "path": "schedule_appointment",
        "formTitle": "Schedule an Appointment",
        "formDescription": "Welcome to Jim's Appointment Form.\nBefore we set a date, please tell me a little about yourself and how I can help.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Your Name",
              "placeholder": "eg. Sam Smith",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "eg. sam@example.com",
              "requiredField": true
            },
            {
              "fieldLabel": "Enquiry",
              "fieldType": "textarea",
              "placeholder": "eg. I'm looking for...",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": true,
          "ignoreBots": true,
          "useWorkflowTimezone": true
        }
      },
      "id": "db7b0b89-c97b-45b4-a898-b94242373290",
      "name": "n8n Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        280,
        300
      ],
      "webhookId": "5e7637dd-d222-4786-8cdc-7b66cebc1481",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Yêu cầu cuộc hẹn đã gửi!",
        "completionMessage": "=Cảm ơn bạn đã gửi một yêu cầu hẹn. Một xác nhận của yêu cầu này sẽ được gửi đến hộp thư đến của bạn. Tôi sẽ liên hệ lại với bạn trong thời gian ngắn với một sự xác nhận về cuộc hẹn.\nĐây là bản tóm tắt của yêu cầu cuộc hẹn.\n\nHọ tên: {{ $('Get Form Values').item.json.name }}\nThời gian: {{ DateTime.fromISO($('Get Form Values').item.json.dateTime).format('EEE, dd MMM @ t') }}\nMục đích cuộc hẹn: {{ $('Get Form Values').item.json.enquiry.trim() }}\n",
        "options": {
          "formTitle": "Yêu cầu cuộc hẹn đã gửi!"
        }
      },
      "id": "d016f122-be9e-487a-b46c-dac6b9716c2f",
      "name": "Form End",
      "type": "n8n-nodes-base.form",
      "position": [
        2380,
        320
      ],
      "webhookId": "8fcc907b-bc2e-4fdf-a829-82c83e677724",
      "typeVersion": 1
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{\n[\n   {\n      \"fieldLabel\":\"Date\",\n      \"requiredField\":true,\n      \"fieldType\": \"dropdown\",\n      \"fieldOptions\":\n        Array(5).fill(0)\n          .map((_,idx) => $now.plus(idx+1, 'day'))\n          .filter(d => !d.isWeekend)\n          .map(d => ({ option: d.format('EEE, d MMM') }))\n   },\n   {\n     \"fieldLabel\": \"Time\",\n     \"requiredField\": true,\n     \"fieldType\": \"dropdown\",\n     \"fieldOptions\": [\n        { \"option\": \"9:00 am\" },\n        { \"option\": \"10:00 am\" },\n        { \"option\": \"11:00 am\" },\n        { \"option\": \"12:00 pm\" },\n        { \"option\": \"1:00 pm\" },\n        { \"option\": \"2:00 pm\" },\n        { \"option\": \"3:00 pm\" },\n        { \"option\": \"4:00 pm\" },\n        { \"option\": \"5:00 pm\" },\n        { \"option\": \"6:00 pm\" }\n     ]\n   }\n]\n}}",
        "options": {
          "formTitle": "Enter a Date & Time",
          "formDescription": "=Please select a date and time"
        }
      },
      "id": "2d0c6bfd-5140-4d1b-9496-74e57b850d21",
      "name": "Enter Date & Time",
      "type": "n8n-nodes-base.form",
      "position": [
        1540,
        260
      ],
      "webhookId": "0cd03415-66f8-4c82-8069-5bfd8ea310bd",
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{\n{\n  name: $('n8n Form Trigger').first().json['Your Name'],\n  email: $('n8n Form Trigger').first().json.Email,\n  enquiry: $('n8n Form Trigger').first().json.Enquiry,\n  dateTime: DateTime.fromFormat(`${$json.Date} ${$json.Time}`, \"EEE, dd MMM t\"),\n  submittedAt: $('n8n Form Trigger').first().json.submittedAt,\n}\n}}",
        "options": {}
      },
      "id": "28a4c361-b535-4420-ad92-853006427cba",
      "name": "Get Form Values",
      "type": "n8n-nodes-base.set",
      "position": [
        1860,
        320
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Please select",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "I accept the terms and conditions"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "formTitle": "Before we continue...",
          "formDescription": "=Terms and Conditions for Booking an Appointment\n\nNon-Binding Nature of Discussions:\nAny information shared, discussed, or agreed upon during the call is non-binding and provisional. No agreement, service, or commitment shall be considered confirmed unless explicitly documented and agreed to in writing.\n\nProhibition of Recording and Note-Taking Tools:\nBy proceeding with the appointment, the user agrees not to use AI assistants, note-taking applications, recording devices, or any other technology to record or transcribe the conversation, whether manually or automatically. This is to ensure confidentiality and respect for the integrity of the discussion.\n\nConfirmation of Understanding:\nBy booking this appointment, you acknowledge and accept these terms and conditions in full."
        }
      },
      "id": "2237e5bb-eeb5-42b1-bfcf-0168d845b33d",
      "name": "Terms & Conditions",
      "type": "n8n-nodes-base.form",
      "position": [
        1120,
        340
      ],
      "webhookId": "dcf32f99-8fb7-457a-8a58-ac1a018b1873",
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "bc7c3e99-e610-4997-82a7-4851f2c04c19",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              },
              "leftValue": "={{ $json[\"Please select\"] }}",
              "rightValue": "I accept"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b67758cc-e682-4939-a212-3a40129414f3",
      "name": "Has Accepted?",
      "type": "n8n-nodes-base.if",
      "position": [
        1300,
        340
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get Form Values').first().json.email }}",
        "subject": "=Appointment Request Received for {{ DateTime.fromISO($('Get Form Values').first().json.dateTime).format('EEE, dd MMM @ t') }}",
        "message": "=<p>Xin chào {{ $('Get Form Values').first().json.name }},</p>\n<p>Cảm ơn vì đã yêu cầu một cuộc hẹn. Chúng tôi sẽ xem xét và liên hệ lại với bạn trong thời gian ngắn.</p>\n<p>Đây là bản tóm tắt yêu cầu đã được gửi:</p>\n<p>\nHọ tên: {{ $('Get Form Values').first().json.name }}<br/>\nEmail: {{ $('Get Form Values').first().json.email }}<br/>\nYêu cầu: {{ $('Get Form Values').first().json.enquiry }}<br/>\nThời gian gửi: {{ $('Get Form Values').first().json.submittedAt }}\n</p>\n<b>Trân trọng,</b>\n",
        "options": {}
      },
      "id": "40b52478-a555-41a4-bce9-47245e2abf93",
      "name": "Send Receipt",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2220,
        320
      ],
      "webhookId": "5f590407-4ab9-4ae6-bb85-38dbe41d6dce",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "25tMkfYULzN1Pay4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "=admin@hanaweb.vn",
        "subject": "Yêu cầu cuộc hẹn mới!",
        "message": "=<h2>Một yêu cầu cuộc hẹn mới đã được gửi!</h2>\n<p>\nYêu cầu ngày hẹn là <strong>{{ DateTime.fromISO($('Execute Workflow Trigger').item.json.dateTime).format('EEE, dd MMM @ t') }}</strong>.\n</p>\n<p>\nHọ tên: {{ $('Execute Workflow Trigger').first().json.name }}<br/>\nEmail: {{ $('Execute Workflow Trigger').first().json.email }}<br/>\nTóm tắt yêu cầu: {{ $json.text }}<br/>\nThời gian: {{ $('Execute Workflow Trigger').first().json.submittedAt }}\n</p>",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Confirm"
          }
        },
        "options": {}
      },
      "id": "1cc0c75c-9c6f-4c6e-a4ef-fb9c4009f651",
      "name": "Wait for Approval",
      "type": "n8n-nodes-base.gmail",
      "position": [
        3040,
        640
      ],
      "webhookId": "ab9c6c5e-334d-44bb-a8fd-a58140bc680d",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "25tMkfYULzN1Pay4",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e5e37acb-9e9d-4a9e-bf59-a35dfc035886",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "a4227928-9d4e-4602-ac68-f5f4608b0a71",
      "name": "Has Approval?",
      "type": "n8n-nodes-base.if",
      "position": [
        3320,
        320
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "classroom114622353578720635848@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Test 1"
        },
        "start": "={{ $('Execute Workflow Trigger').first().json.dateTime }}",
        "end": "={{ DateTime.fromISO($('Execute Workflow Trigger').first().json.dateTime).plus(30, 'minute').toISO() }}",
        "additionalFields": {
          "attendees": [
            "={{ $('Execute Workflow Trigger').item.json.email }}",
            "ductin12@gmail.com"
          ],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "description": "={{ $('Summarise Enquiry').first().json.text }}\n\nOriginal message:\n> {{ $('Execute Workflow Trigger').item.json.enquiry }}",
          "summary": "=Appointment Scheduled - {{ $('Execute Workflow Trigger').item.json.name }} & Mr. Joshua - Hanaweb.vn"
        }
      },
      "id": "60843e8e-95ea-4b33-baa9-4c4b731a15a8",
      "name": "Create Appointment",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        3560,
        200
      ],
      "typeVersion": 1.2,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Pyke8xnyLoJEDNkk",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Execute Workflow Trigger').first().json.email }}",
        "subject": "=Cập nhật: Yêu cầu cuộc hẹn vào lúc {{ DateTime.fromISO($('Execute Workflow Trigger').first().json.dateTime).format('EEE, dd MMM t') }}!",
        "message": "=<p>Xin chào {{ $('Execute Workflow Trigger').first().json.name }},</p>\n\n<p>Thật không may, chúng tôi không thể lên lịch hẹn được yêu cầu vào thời điểm được yêu cầu. Chúng tôi sẽ sớm xác nhận lại thời gian phù hợp cho cuọc hẹn của chúng ta.</p>\n<p>Trong trường hợp quý khách cần liên hệ gấp vui lòng liên hệ qua Hotline: 088-904-8818 hoặc phản hồi Email này để được hỗ trợ nhanh nhất. </p>\n\n<p>Trân trọng!</p>\n",
        "options": {}
      },
      "id": "fa58a27e-39a6-46c2-99b6-bbd7a3420628",
      "name": "Send Rejection",
      "type": "n8n-nodes-base.gmail",
      "position": [
        3560,
        420
      ],
      "webhookId": "5f590407-4ab9-4ae6-bb85-38dbe41d6dce",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "25tMkfYULzN1Pay4",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## 1. Qualify Enquiries Using AI\n[Learn more about the text classifier](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.text-classifier/)\n\nWith n8n's multi-forms, you’re no longer stuck creating long, overwhelming forms. Instead, you have more flexibility and control to design smarter, more engaging form experiences.\n\nIn this demo, we’ll explore an appointment request scenario where a user wants to schedule a call to discuss their inquiry. However, not all inquiries require a meeting, making it a perfect use case for AI to pre-qualify the request. We can handle this validation using the text classifier node.",
        "height": 611.898918296892,
        "width": 763.0427617951669,
        "color": 7
      },
      "id": "dfa0d844-1efb-42c8-8910-040b6cbf5207",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        220,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 2. Split Form For Better User Experience\n[Learn more about the forms](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.form)\n\nOnboarding is a great reason to split your big form into smaller ones. Taking the user through a step by step process ensures a smooth experience and keeps them engaged throughout.\n\nHere, we take the opportunity of the extra context space to display a terms and conditions which the user must agree to making their request. The next form then asks for desired date and time of the event.",
        "height": 606.0718987341766,
        "width": 781.472405063291,
        "color": 7
      },
      "id": "be724ef0-290a-4a35-84e9-8323236972e2",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1000,
        40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Hãy gửi email cho tôi!",
        "completionMessage": "Cảm ơn vì yêu cầu của bạn nhưng nó có thể không nhất thiết cần một cuộc hẹn. Xin vui lòng gửi email cho tôi biết rõ hơn về nhu cầu của bạn đến email: info@hanaweb.vn. Hanaweb.vn sẽ nhanh chóng liên hệ và hỗ trợ bạn nhanh nhất. ",
        "options": {}
      },
      "id": "a41f2769-5a6f-4d63-bada-dd598f4c473c",
      "name": "Decline",
      "type": "n8n-nodes-base.form",
      "position": [
        780,
        420
      ],
      "webhookId": "4353eadb-b7a0-45f2-8dd8-5f6cd882d8d8",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Send me a DM Instead!",
        "completionMessage": "Thanks for your enquiry but it may not necessarily need an appointment. Please feel free to email me instead at jim@example.com.",
        "options": {}
      },
      "id": "4c5c7a02-f87c-4aa6-ba59-e3430443cc6a",
      "name": "Decline1",
      "type": "n8n-nodes-base.form",
      "position": [
        1540,
        420
      ],
      "webhookId": "4353eadb-b7a0-45f2-8dd8-5f6cd882d8d8",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 3. Send Acknowledgement to User and Start Approval Process\n[Learn more about the Gmail node](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.gmail/)\n\nOnce all form steps are concluded, we can send a notification to the requester via email and in the background, trigger another email to the admin to initiate the approval process. The approval process works in a separate execution so doesn't interrupt the user's form experience.",
        "height": 497.4250863060987,
        "width": 792.9401150747982,
        "color": 7
      },
      "id": "06c59da4-9135-4c78-8d36-66044ce3e4c4",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1800,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 4. Approve or Decline Appointment\n[Learn more about the Waiting for Approval](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.gmail/message-operations/#send-a-message-and-wait-for-approval)\n\nThe Wait for Approval feature for Gmail is a special operation which allows for human-in-the-loop interaction in n8n workflows. In this example, the human interaction is the approval of the appointment request. The feature will put the workflow in a waiting state where a message is sent to the admin with 2 buttons: confirm and decline.\n\nWhen the admin clicks on the confirm button, the workflow resumes from the Gmail node and a meeting event is created for the requesting user in Google Calendar.\n\nWhen declined, a rejection email is sent to the requester instead.",
        "height": 287.178089758343,
        "width": 609.4228768699652,
        "color": 7
      },
      "id": "5a4f266d-e15f-49dd-9a9d-d9dcda89f958",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2640,
        -40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "145edca5-46a0-4984-b52a-f93889ef55b7",
      "name": "Trigger Approval Process",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        2040,
        320
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "fd59f2da-7540-40ae-b3e8-39d61586354c",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        2640,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tóm tắt thông tin yêu cầu cuộc hẹn:\nName: {{ $json.name }}\nEmail: {{ $json.email }}\nNhu cầu: {{ $('Execute Workflow Trigger').first().json.enquiry }}\nThời gian hẹn: {{ $json.dateTime.toDateTime().format('hh:mm:ss'+' dd/LL/yyyy') }}",
        "messages": {
          "messageValues": [
            {
              "message": "Tóm tắt nhu cầu khách hàng"
            }
          ]
        }
      },
      "id": "a6037f04-2d9b-4b1f-abb0-d57689e1451a",
      "name": "Summarise Enquiry",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        2800,
        320
      ],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "content": "## thử nó ra!\n\n**Mẫu N8N này là một quy trình lập lịch hẹn đơn giản bằng cách sử dụng các biểu mẫu N8N với AI ném vào hỗn hợp để đo lường tốt. Nó cũng sử dụng tính năng Chờ đợi của N8N cho phép khả năng xác nhận các yêu cầu hẹn và tạo sự kiện trong Lịch Google.**  \n\n**Cách thức hoạt động** \n* Chúng tôi bắt đầu với một kích hoạt biểu mẫu yêu cầu mục đích của cuộc hẹn. \n* Ngay lập tức, chúng ta có thể đủ điều kiện này bằng cách sử dụng nút phân loại văn bản sử dụng sự hiểu biết theo ngữ cảnh của AI để đảm bảo cuộc hẹn là đáng giá. Nếu không, một giải pháp thay thế được đề xuất thay thế. \n* Các biểu mẫu nhiều trang sau đó được sử dụng để đặt các điều khoản của cuộc hẹn và yêu cầu người dùng cho một ngày và giờ mong muốn. \n* Một xác nhận được gửi cho người dùng trong khi sự chấp thuận và kích hoạt luồng xác nhận cuộc hẹn qua Telegram được kích hoạt trong nền. \n* Trong một chương trình con, chúng tôi sử dụng Telegram để xác nhận của Sếp Hanaweb.vn để gửi biểu mẫu phê duyệt cho người dùng quản trị viên có thể xác nhận hoặc từ chối yêu cầu cuộc hẹn. \n* Khi được phê duyệt, một sự kiện Lịch Google được tạo ra. Khi bị từ chối, người dùng được thông báo qua email rằng yêu cầu cuộc hẹn đã bị từ chối.  \n\n### Cần giúp đỡ? Gửi Email đến: info@hanaweb.vn ",
        "height": 690.6653164556957,
        "width": 468.6766398158801
      },
      "id": "8d2960d3-0a3b-4748-8751-768da1e8f187",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -280,
        -60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### 🚨 Set your admin email here!",
        "height": 257.56869965477557,
        "width": 177.66444188722656
      },
      "id": "6156653f-7736-4561-b2d6-b62409206592",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3100,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "inputText": "={{ $json.Enquiry }}",
        "categories": {
          "categories": [
            {
              "category": "relevant enquiry",
              "description": "Hỏi về AI, tự động hóa, sản phẩm kỹ thuật số và kỹ thuật sản phẩm, setup hệ thống marketing, tự động hoá, thiết kế website, bán hàng online, chạy quảng cáo, dịch vụ SEO, coaching, tham vấn cá nhân, huấn luyện AI, viết prompt, tự động hoá với n8n, n8n"
            }
          ]
        },
        "options": {
          "fallback": "other"
        }
      },
      "id": "c0f8bede-8c7e-4df3-b7b4-55e10c9e7d4b",
      "name": "Enquiry Classifier",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "position": [
        460,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-pro-exp-02-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1680,
        800
      ],
      "id": "c090e6ab-50c9-4c8a-8923-8d440736dd40",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2n4TLSNuOIYkltQc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "777643301",
        "message": "=Bạn đã từ chối cuộc hẹn với {{ $('Execute Workflow Trigger').first().json.name }} vào thời gian {{ DateTime.fromISO($('Execute Workflow Trigger').first().json.dateTime).format('EEE, dd MMM @ t') }} về việc: {{ $('Execute Workflow Trigger').item.json.enquiry }}. Bạn có muốn đặt một lịch hẹn khách với khách hàng này không? ",
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3560,
        620
      ],
      "id": "8eb427df-68e8-4722-86e2-f60f42795131",
      "name": "Telegram1",
      "webhookId": "3d6cfe79-bfcb-4fe8-b462-f8cd05430839",
      "credentials": {
        "telegramApi": {
          "id": "vJqray7vnh0AFZMR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "777643301",
        "text": "={{ $json.summary }}\nNội dung: \n{{ $json.description }}\nXác nhận: {{ $json.status }}\nLink hangout tham dự: {{ $json.hangoutLink }}\nLink Meeting: {{ $json.conferenceData.entryPoints[0].uri }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3780,
        200
      ],
      "id": "fbc9a266-0a30-4cb3-8a80-571058f80c34",
      "name": "Thông báo admin",
      "webhookId": "355d4077-7117-49df-807c-3b34a3007787",
      "credentials": {
        "telegramApi": {
          "id": "vJqray7vnh0AFZMR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "777643301",
        "message": "=<h2>Một yêu cầu cuộc hẹn mới đã được gửi!</h2>\n<p>\nYêu cầu ngày hẹn là <strong>{{ DateTime.fromISO($('Execute Workflow Trigger').item.json.dateTime).format('EEE, dd MMM @ t') }}</strong>.\n</p>\n<p>\nHọ tên: {{ $('Execute Workflow Trigger').first().json.name }}<br/>\nEmail: {{ $('Execute Workflow Trigger').first().json.email }}<br/>\nTóm tắt yêu cầu: {{ $json.text }}<br/>\nThời gian: {{ $('Execute Workflow Trigger').first().json.submittedAt }}\n</p>",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3140,
        320
      ],
      "id": "8d452797-7e1d-4a7e-932c-30f78bae6c66",
      "name": "Phê duyệt",
      "webhookId": "3d6cfe79-bfcb-4fe8-b462-f8cd05430839",
      "credentials": {
        "telegramApi": {
          "id": "vJqray7vnh0AFZMR",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {
    "Wait for Approval": [
      {
        "json": {
          "data": {
            "approved": true
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-03-20T01:50:43.000Z",
  "versionId": "46a7d18a-d1cc-44e9-b0d7-865fe4b51c0c"
}