workflows/d8P1tP9kSZXeW1em.json
{
  "active": false,
  "connections": {
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Email": {
      "ai_tool": [
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Listen for incoming events": {
      "main": [
        [
          {
            "node": "Voice or Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Speech to Text": {
      "main": [
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice or Text": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Speech to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Angie, AI Assistant 👩🏻‍🏫": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tasks": {
      "ai_tool": [
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contacts": {
      "ai_tool": [
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-01-20T16:20:15.919Z",
  "id": "d8P1tP9kSZXeW1em",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Telegram chatbot",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "derekcheungsa@gmail.com",
          "cachedResultName": "derekcheungsa@gmail.com"
        },
        "options": {
          "timeMin": "={{$fromAI(\"date\",\"the date after which to fetch the messages in format YYYY-MM-DDTHH:MM:SS\")}}",
          "fields": "=items(summary, start(dateTime))"
        }
      },
      "id": "03aeedbb-16e8-443f-a032-b3f49cd2c6c7",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        980,
        420
      ],
      "typeVersion": 1.1,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Pyke8xnyLoJEDNkk",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Listen for incoming events').first().json.message.from.id }}"
      },
      "id": "d89dba7b-9523-4ad6-ae75-50f5cf20fc82",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        700,
        420
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "labelIds": [
            "INBOX",
            "UNREAD"
          ],
          "readStatus": "unread",
          "receivedAfter": "={{$fromAI(\"date\",\"the date after which to fetch the messages in format YYYY-MM-DDTHH:MM:SS\")}}"
        }
      },
      "id": "81036bff-b074-46e8-94bb-0ba050ce5264",
      "name": "Get Email",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        860,
        420
      ],
      "typeVersion": 2.1,
      "webhookId": "c3bf7829-5fa4-4439-b031-48c15094621e",
      "credentials": {
        "gmailOAuth2": {
          "id": "25tMkfYULzN1Pay4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-exp-1206:free",
        "options": {
          "baseURL": "https://openrouter.ai/api/v1"
        }
      },
      "id": "f7f3e37d-6486-40d4-98bd-8ab8bbe7e91f",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        520,
        420
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "mE4tY6rLFI7CyMqz",
          "name": "OpenrouterAI account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "9d0fd9e5-eac3-4a7e-a459-ac76591c5680",
      "name": "Listen for incoming events",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -280,
        100
      ],
      "webhookId": "322dce18-f93e-4f86-b9b1-3305519b7834",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "vJqray7vnh0AFZMR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "b9dfc1c0-b7d5-47f5-a94b-f0ecd0d2bf72",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1260,
        100
      ],
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "vJqray7vnh0AFZMR",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a0bf9719-4272-46f6-ab3b-eda6f7b44fd8",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.message.text }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "12bd2e9b-90f8-4b89-a47f-03bacd6a1590",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        180,
        100
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "2b8e6dd3-e91c-403d-9d6f-77d1e46211ba",
      "name": "Speech to Text",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        580,
        100
      ],
      "typeVersion": 1.3,
      "credentials": {
        "openAiApi": {
          "id": "mE4tY6rLFI7CyMqz",
          "name": "OpenrouterAI account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $json?.message?.text || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "65036764-7b10-48e4-a691-4ce8fdee076b",
      "name": "Voice or Text",
      "type": "n8n-nodes-base.set",
      "position": [
        20,
        100
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Listen for incoming events').item.json.message.voice.file_id }}"
      },
      "id": "4e17b057-54b7-4674-ab1c-81570754b646",
      "name": "Get Voice File",
      "type": "n8n-nodes-base.telegram",
      "position": [
        380,
        -20
      ],
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "vJqray7vnh0AFZMR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant.\n\nToday's date is {{ $now }}.\n\nGuidelines:\n- When fetching emails, filter out any promotional emails. \n- When summarizing emails, include Sender, Message date, subject, and brief summary of email.\n- if the user did not specify a date in the request assume they are asking for today\n- Use baserow tool to answer questions about tasks\n- When answering questions about calendar events, filter out events that don't apply to the question.  For example, the question is about events for today, only reply with events for today. Don't mention future events if it's more than 1 week away"
        }
      },
      "id": "e251396f-5096-4bed-991b-29d610d73784",
      "name": "Angie, AI Assistant 👩🏻‍🏫",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        760,
        100
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "content": "## Process Telegram Request\n",
        "height": 278.75,
        "width": 496.25,
        "color": 5
      },
      "id": "956b02c7-7730-419a-a59c-299811965e87",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "databaseId": 178833,
        "tableId": 438970,
        "additionalOptions": {}
      },
      "id": "39469bdf-4403-40ea-b9c9-98055dc174ba",
      "name": "Tasks",
      "type": "n8n-nodes-base.baserowTool",
      "position": [
        1100,
        420
      ],
      "typeVersion": 1,
      "credentials": {
        "baserowApi": {
          "id": "NY82svFrX1cMDCwq",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Useful for getting contact information.  For example emails or phone numbers.",
        "databaseId": 178833,
        "tableId": 438970,
        "additionalOptions": {}
      },
      "id": "4cdcdd66-f5e1-4fa1-9f66-fbbb1cde12c0",
      "name": "Contacts",
      "type": "n8n-nodes-base.baserowTool",
      "position": [
        1220,
        420
      ],
      "typeVersion": 1,
      "credentials": {
        "baserowApi": {
          "id": "NY82svFrX1cMDCwq",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        360
      ],
      "id": "7eeb1e4b-5eb3-438c-863a-8c5f64fff16e",
      "name": "When chat message received",
      "webhookId": "0f8cba5d-29ab-4086-93cf-c615e94b4fe7"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-02T14:43:38.000Z",
  "versionId": "b5608386-e0c7-40f9-8fd3-904214bf6c0a"
}