workflows/dyXYVIqyoI2sbYGi.json
{
  "active": true,
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        []
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Pinecone vector store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Read Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Chat' button below": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Test Workflow' button": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Pinecone vector store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Read Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Insert into Pinecone vector store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-01T02:58:56.000Z",
  "id": "dyXYVIqyoI2sbYGi",
  "meta": {
    "templateId": "1960",
    "templateCredsSetupCompleted": true
  },
  "name": "Ask questions about a PDF using AI",
  "nodes": [
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "1323d520-1528-4a5a-9806-8f4f45306098",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        1040,
        760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "796b155a-64e6-4a52-9168-a37c68077d99",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        620,
        620
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "mE4tY6rLFI7CyMqz",
          "name": "OpenrouterAI account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Load data into database\nFetch file from Google Drive, split it into chunks and insert into Pinecone index",
        "height": 806.6556079800943,
        "width": 978.0454109366399,
        "color": 7
      },
      "id": "dbe42c28-6f0b-4999-8372-0b42f6fb5916",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Chat with database\nEmbed the incoming chat message and use it retrieve relevant chunks from the vector store. These are passed to the model to formulate an answer ",
        "height": 806.8716167324012,
        "width": 654.1028019808174,
        "color": 7
      },
      "id": "43dc3736-834d-4322-8fd2-7826b0208c4b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1640,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "53b18460-8ad6-425a-a01f-c2295cfddde8",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        1060,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Try me out\n1. In Pinecone, create an index with 1536 dimensions and select it in *both* Pinecone nodes\n2. Click 'test workflow' at the bottom of the canvas to load data into the vector store\n3. Click 'chat' at the bottom of the canvas to ask questions about the data",
        "height": 264.61498034081166
      },
      "id": "e729a021-eab3-48fa-a818-457efcaeebb2",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        100,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3e17c89c-620d-4892-b944-d792e48e3772",
      "name": "Question and Answer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "position": [
        1680,
        341
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "516507f9-d0d9-4975-85d0-a7852ee41518",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1480,
        600
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "mE4tY6rLFI7CyMqz",
          "name": "OpenrouterAI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8b0a5d26-a60a-40ab-8200-72f542532096",
      "name": "Embeddings OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1500,
        820
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "mE4tY6rLFI7CyMqz",
          "name": "OpenrouterAI account"
        }
      }
    },
    {
      "parameters": {},
      "id": "07f61d20-cf50-48e8-9d34-92244af436cb",
      "name": "Vector Store Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "position": [
        1880,
        561
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "hanaweb-files",
          "mode": "list",
          "cachedResultName": "hanaweb-files"
        },
        "options": {}
      },
      "id": "0777de17-99a0-499a-b71f-245d5f76642e",
      "name": "Read Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        1820,
        741
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "5k6xrB1r4Ja3ffwi",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "hanaweb-files",
          "mode": "list",
          "cachedResultName": "hanaweb-files"
        },
        "options": {
          "clearNamespace": true
        }
      },
      "id": "cc5e6897-9d0b-4352-a882-5dc23104bf97",
      "name": "Insert into Pinecone vector store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        960,
        340
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "5k6xrB1r4Ja3ffwi",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Xin chào! 👋\nEm là Ha Na, anh/chị cần em giúp gì ạ? ",
        "options": {
          "responseMode": "lastNode",
          "showWelcomeScreen": false,
          "subtitle": "Chat với nhân viên hỗ trợ của Hanaweb.vn 24/7",
          "title": "Xin chào! 👋"
        }
      },
      "id": "c358aa73-b60f-453f-a3ef-539faa98c9b5",
      "name": "When clicking 'Chat' button below",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        1440,
        340
      ],
      "webhookId": "e259b6fe-b2a9-4dbc-98a4-9a160e7ac10c",
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "d35db9e1-4efc-4980-9814-55fbe65e08fd",
      "name": "When clicking 'Test Workflow' button",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        196.83478320435574,
        340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        880,
        580
      ],
      "id": "80421320-439c-4c9c-b93d-e1c41d786780",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "2n4TLSNuOIYkltQc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1640,
        560
      ],
      "id": "5286f4e2-e2af-4ab5-a752-300e06759242",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2n4TLSNuOIYkltQc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1760,
        880
      ],
      "id": "ae2e3ea9-2b04-4c4a-a5e9-21ab21f7680a",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "2n4TLSNuOIYkltQc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $binary.data.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1ofQ8GLRukSe48cOi25up1PNlZ7_OKXMV",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ofQ8GLRukSe48cOi25up1PNlZ7_OKXMV"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        620,
        340
      ],
      "id": "2256328c-23bf-4533-b65d-51e64da46198",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FAKXKk8dfHvUPexs",
          "name": "Google Drive hanawebvn@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.informedchoicewa.org/wp-content/uploads/2020/11/ijerph-17-08674.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        340
      ],
      "id": "183478b1-761c-4690-9797-676297afd28e",
      "name": "Get File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.webViewLink }}",
          "mode": "url"
        },
        "options": {}
      },
      "id": "b0c250ce-9d51-4738-818a-5342055720c0",
      "name": "Google Drive1",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        800,
        340
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FAKXKk8dfHvUPexs",
          "name": "Google Drive hanawebvn@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "692a93ee-57d1-4436-a4ea-fe20c4afed80",
              "name": "text",
              "value": "={{ $json.response.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2040,
        340
      ],
      "id": "2b87f8c5-1fb2-469a-8b7b-0afaf081ffd3",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-02-18T04:43:55.000Z",
  "versionId": "86ef2956-bfe4-478b-9d55-e677468421d3"
}