workflows/HruWKyhkUOTjM7yZ.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-09T09:16:42.422Z",
  "id": "HruWKyhkUOTjM7yZ",
  "meta": null,
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "42cd2250-e860-4a9d-a461-5a1defce7b8e",
      "name": "When chat message received",
      "webhookId": "024ad8d8-fe62-42e7-9f01-3af3a4f55426"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dashscope-intl.aliyuncs.com/compatible-mode/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n    \"model\": \"qwen-plus\",\n    \"messages\":[      \n        {\n            \"role\": \"system\",\n            \"content\": \"You are a helpful assistant.\"\n        },\n        {\n            \"role\": \"user\",\n            \"content\": \"{{ $json.chatInput }}\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "aa448fa9-b3c5-4fef-9518-db67488aa334",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "UNhOSdekVLhnNzdc",
          "name": "Header Auth Alibaba Cloud"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f77e2776-7758-4b5f-9817-247f85a7c553",
              "name": "messeage",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ],
      "id": "346c65e3-356b-4295-b185-d7bf52688cc3",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-09T09:31:15.000Z",
  "versionId": "99742858-13f6-4b41-a030-34c577974486"
}