workflows/Lae4BlQk7n4gsT2M.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PerplexityAI API": {
      "main": [
        [
          {
            "node": "Get Research Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "PerplexityAI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-13T08:57:09.620Z",
  "id": "Lae4BlQk7n4gsT2M",
  "meta": null,
  "name": "Tool - Research with PerplexityAI",
  "nodes": [
    {
      "parameters": {},
      "id": "2a1e7c20-433f-4eb6-adad-4d2db61a1645",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -180,
        -140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $json.model }}\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": {{ JSON.stringify($json.system_message) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.query) }}\n    }\n  ],\n  \"max_tokens\": {{ $json.max_tokens }},\n  \"temperature\": 0.2,\n  \"top_p\": 0.9,\n  \"search_domain_filter\": null,\n  \"return_images\": false,\n  \"return_related_questions\": false,\n  \"search_recency_filter\": \"month\",\n  \"top_k\": 0,\n  \"stream\": false,\n  \"presence_penalty\": 0,\n  \"frequency_penalty\": 1,\n  \"response_format\": null\n}",
        "options": {}
      },
      "id": "040e32b4-9cf8-4d54-bf6f-03b8204c5c41",
      "name": "PerplexityAI API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        -140
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "X3igE0h4nQTKMTMm",
          "name": "Perplexity Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea477bb8-47dd-49be-9560-e29cc544cc9e",
              "name": "response",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "111ddafa-c8a9-4a73-9819-77576152ed6e",
      "name": "Get Research Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        -140
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1543a7e-3509-4a39-b132-32106c34cb7c",
              "name": "model",
              "value": "sonar",
              "type": "string"
            },
            {
              "id": "c2cc5e5b-31d2-4964-9bc7-f0b55dd2ec1b",
              "name": "query",
              "value": "={{ $json.query }}",
              "type": "string"
            },
            {
              "id": "559d4864-9e2d-41ca-9dc4-01c4aa105276",
              "name": "system_message",
              "value": "Be thorough and comprehensive",
              "type": "string"
            },
            {
              "id": "3f954b4c-2f56-4397-9832-518fc5d32ae5",
              "name": "max_tokens",
              "value": "1000",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        100,
        -140
      ],
      "id": "08051d5f-fc0e-4d89-80dc-dcee7b371913",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-13T09:04:55.000Z",
  "versionId": "bad77c42-2ca4-4cfd-b96e-dcdf4a719805"
}